@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,700&display=swap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

$font1: "Prata", serif;
$primary: #ec4899;
$sec: #b03eea;

.font-title {
  font-family: $font1;
}

h2{
  font-size: 21px;
  font-style: italic;
  font-weight: 600;
  line-height: 1.35;
  @media (max-width: 1000px) {
    font-size: 17px;
  }
}
h1 {
  font-size: 40px;
  @extend .font-title;
  line-height: 1.4;
  margin-bottom: 15px;
  text-shadow: 1px 1px 8px rgba($primary, .38);
  @media (max-width: 1200px) {
    font-size: 34px;
  }
  @media (max-width: 800px) {
    font-size: 26px;
    margin-bottom: 10px;
    line-height: 1.3;
  }
}


h5 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  @media (max-width: 1200px) {
    font-size: 16px;
  }
}

p {
  font-size: 18px;
  line-height: 1.55;
  font-weight: 300;
  @media (max-width: 1200px) {
    font-size: 16px;
  }
  @media (max-width: 600px) {
    font-size: 14px;
  }
}

body, * {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  @media (max-width: 1200px) {
    font-size: 15px;
  }
  @media (max-width: 1000px) {
    height: initial;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 100vw;
  }
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  width: 280px;
}

body {
  /*background: #100f0f;*/
}

body:after {
  content: '';
}

.Land {
  background: #100f0f;
  color: #fff;
  min-height: 100vh;
  padding: 100px 0;
  @media (max-width: 1200px) {
    padding: 60px 0;
  }
  @media (max-width: 1000px) {
    min-height: initial;
    overflow-y: auto;
  }
}

.mainSlide {
  @media (max-width: 1700px) and (min-width: 1000px) {
    padding-left: 110px;
  }
  @media (max-width: 1200px) {
    padding-left: 65px;
  }
  @media (max-width: 1024px) {
    padding-left: 20px;
  }
  @media (max-width: 600px) {
    padding-left: 0;
  }
}

.Land:after, .Land:before {
  content: '';
  position: fixed; /* Фиксированное позиционирование относительно viewport */
  z-index: 1;
  opacity: 0.1;
  pointer-events: none; /* Позволяет кликам проходить сквозь элемент */
}

.p-button {
  padding: 0.4rem 0.9rem;
}

.p-inputtext {
  height: 34px;
  padding: 7px 12px;
}

.Land:after {
  top: 0vh;
  right: 0vw;
  bottom: 0;
  opacity: 0.05;
  transform: translateX(25%);
  width: 80vw; /* Ширина вьюпорта */
  height: 100%; /* Высота вьюпорта */
  background-image: radial-gradient(circle at center, $primary 0%, rgba(#100f0f, 0) 80%);
}

.Land:before {
  left: 4vw;
  bottom: 0vh;
  transform: translateX(-50%);
  opacity: .12;
  width: 100vw; /* Ширина вьюпорта */
  height: 100vh; /* Высота вьюпорта */
  background-image: radial-gradient(circle at center, rgba($sec, .5) 0%, rgba(#100f0f, 0) 80%);
}

.Land-line {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 1px;
  opacity: 0.1;
  pointer-events: none;
  background: #fff;
  @media (max-width: 800px) {
    opacity: 0.03;
  }
}

.Land-line-1 {
  left: 20vw;
}

.Land-line-2 {
  left: 40vw;
}

.Land-line-3 {
  left: 60vw;
}

.Land-line-4 {
  left: 80vw;
}

.container_wrp {
  max-width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 100px);
  opacity: 0;
  transition: .4s;
  transition-delay: .3s;
  @media (max-width: 1200px) {
    max-width: 55vw;
  }
  @media (max-width: 1000px) {
    min-height: initial;
  }
  @media (max-width: 800px) {
    max-width: 65vw;
  }
  @media (max-width: 600px) {
    max-width: 100%;
  }

  p {
    max-width: 600px;
  }
}

.swiper-slide-active .container_wrp {
  opacity: 1;
}

.container_box {
  margin-bottom: 50px;
  @media (max-width: 1200px) {
    margin-bottom: 25px;
  }
}

.just-list {
  li {
    margin-bottom: 13px;
    @media (max-width: 500px) {
      font-size: 13px;
      margin-bottom: 14px;
      b {
        letter-spacing: 0.2px;
        font-size: 14px !important;
      }
    }
  }
}

.ttu {
  text-transform: uppercase;
}


.animate-number {
  animation: swipeDown 0.7s ease-in-out;
}

@keyframes swipeDown {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: translate(50%, 100%);
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}


.bg-card {
  background: rgba(16, 15, 15, 0.7);
  backdrop-filter: blur(10px); // Применяем размытие к фону
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 15px; // Подберите подходящее значение, которое вы использовали в Tailwind
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); // Пример тени, подберите параметры под ваш дизайн
}


.loginPage {
  min-height: 100vh;
  padding: 210px 0 80px;
}

.loginPage-image {
  position: relative;
  opacity: .6;
}

.loginPage-image:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background: linear-gradient(-90deg, rgb(107, 105, 130, 0), rgb(107, 105, 130));
}

.loginPage-image:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background: linear-gradient(90deg, rgb(107, 105, 130, 0), rgb(107, 105, 130));
}


.successTelegramModal {
  width: 26rem;
  border-radius: 15px;
  overflow: hidden;
  background: #000;

  .p-dialog-content {
    background: #434a72;
  }
}

.p-column-header-content {
  padding: 9px;
}

.p-paginator-bottom {
  padding: 10px;
}

.p-message-wrapper {
  padding: 10px;
}

.p-message-icon {
  padding-right: 5px;
}

.img-example{
  border-radius: 10px;
}
.p-image{
  max-width: 100%;
  img{
    border-radius: 10px;
    max-width: 100%;

  }
}

td{
  padding: 7px;
}

@import "slider";